<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kişiye Özel Sayfa</title>
  <link rel='stylesheet' href='css/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>





  <body class="text-center">




<main class="form-signin">


  <h1 style = "color:#495464; padding-bottom:7em;"class="h3 mb-3 fw-normal"><%=yazilacakmetin %></h1>


  <form action="/wrongPass" method="post">
    <button type="submit" name="geriDon" class="btn-link"><img src="/return.png" class="imageItem" alt="submit" /></button>
    <input type="hidden" name="neredenGeldi" value="<%=yazilacakmetin%>">
    <p>Geri Dön</p>


  </form>







</main>


<p style="right: 50%; top:100%; padding:10em" class="mt-5 mb-3 text-muted">&copy; Bitirme Projesi</p>
  </body>
</html>
